.menu {
    width: 100%;
    height: 25vh;
    display: flex;
    justify-content: space-between;
    padding: 5vh 21vw;
    box-sizing: border-box;
}

.menu > a {
    width: 7vw;
    height: 7vw;
    text-align: center;
    line-height: 16vw;
    font-size: 1vw;
    color: #49403c;
    text-decoration: none;
    border-radius: 100%;
    background-size: 100%;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    background-position: center;
    transition: .3s;
}
.menu > a:hover {
    background-size: 120%;
}