.container{
  width: 70%;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
}
*{
  margin: 0;
}
hr{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#up_profile {
  width: 100%;
  height: 100px;
  background-color: #fefeff;
  /*프로필 사진 뒤 배경 일단 보이게*/
}

/*프로필과 관련된 코드*/
#profile {
 
  float: left;
}
#up_profile img {
  margin-left: 20px;
  margin-top: 20px;
  border-radius: 70%;
}

header {
  background-color: #0e4a30;
  padding: 50px;
  margin: 0px 0px;
}

#name {
  margin-left: 30px;
  line-height: 150px;
  font-size: 25px;
  font-weight: bold;
  background-color: #ffff;
}

body {
  background-color: white;
  height: 100%;
}

h2 {
  font-size: 30px;
  text-align: center;
  padding: 4% 0px;
  letter-spacing: 1px;
}

/*div변경과 관련된 코드*/

.main input[type=radio] {
  display: none;
}

/*a ~ c:a b c 이렇게 있어도 c를 선택*/
#tab-1:checked~.tab label:nth-child(1),
#tab-2:checked~.tab label:nth-child(2),
#tab-3:checked~.tab label:nth-child(3) {
  background-color: #eaeaea;
  box-shadow: none;
}

.content>div {
  /* > 바로밑 직계 자식*/
  display: none;
}

/*ntn-child(n) n번째 자식*/
#tab-1:checked~.content div:nth-child(1),
#tab-2:checked~.content div:nth-child(2),
#tab-3:checked~.content div:nth-child(3) {
  display: block;
}

.main {
  margin: 50px auto;
  max-width: 100%;
  height: 100%;
  width: 100%;
}

.tab {
  overflow: hidden;
}

.tab label {
  font-size: 18px;
  cursor: pointer;
  float: left;
  width: 33.333%;
  text-align: center;
  padding: 15px 0;
  font-weight: bold;
  letter-spacing: 2px;
}

.content {

  background-color: #eaeaea;;
  min-height: 250px;
  
}
.content-click{
  padding: 0;
}

.content>div {
  padding: 3px;
  font-size: 17px;
}

.frame {
  display: block;
  border: none;
  height: 100vh;
  width: 100%;
}


body * {
  height: auto;
}

#bottom {
  width: 100%;
  height: 10vh;
  background-color: #325c4b;
}
