
*{background-color: #fefeff;}

img{
    width: 600px;
    text-align: center;
    display: flex;
    margin: auto;
    border: 1px solid #c4c4c4;
    border-radius: 10px;

}

input[type=button]{
    width: 100px;
    height: 50px;
    display: flex;
    margin: auto;
    padding-left: 20px;
    padding-top: 4px;
    border: 1px solid #c4c4c4;
    border-radius: 15px;
    font-size: 15px;
    text-align: center;
    
}
input:hover{
    background-color: #c4c4c4;
}
