  *{
    background-color: white;
    justify-content: center;
  }
  h1{
        text-align: center;
        margin: 50px;
        color: #5E5E5E;;
  }
  #service-center input[type="text"] {
    height: 35px;
    width: 500px;
    padding: 5px 15px;
    font-size: 16px;
    opacity: 80%;
    border: 3px solid #0e4a30;
    border-radius: 20px 0px 0px 20px;
  }
  #service-center button[type="submit"] {
    padding: 13px 20px;
    font-size: 16px; 
    border: 2px solid #0e4a30;
    border-radius: 0px 20px 20px 0px; 
    background-color: #0e4a30;
    color: white;
    cursor: pointer;
  } 
  #service-center form{
    text-align: center;
  }

  li{
    list-style: none;
    margin: 24px;
    display: inline-block;
  }
  li > div{
    background-color: whitesmoke;
    width: 100px;
    height: 40px;
    text-align: center;
    border-radius: 20px;
    line-height: 40px;
  }
  #question{
    width: 100%;
    text-align: center;
  }
  label{
    background-color: rgba(0, 0, 0, 0);
  }
  li > div:hover{
    background-color: #0e4a30;
  }
  input[type=radio]{
    display: none;
  }
  input[type=radio]:checked+label{
    background-color: rgba(0, 0, 0, 0);
  }
 
  .content {
    display: none;
  }
  .content:target {
    display: block;
  }

  li div a{
    text-decoration: none;
    color: black;
    background-color: rgba(0, 0, 0, 0);
  }
  .content > div{
    width: 200px;
    height: 50px;
    text-align: center;
    justify-content: center;
    border: solid;
    border-radius: 10px;
    padding-top: 25px;
    display: inline-block;
    margin: 30px;
    margin-top: -40px;
  }
  .content > div:hover{
    background-color: rgba(0, 0, 0, 0.2);
    cursor: pointer;
  }
  #questionber{
    margin-bottom: 0;
  }
  #all{
    display: flex;
    width: 70%;
    margin-left: 150px;;
    margin-top: 0px;
  }
  #box1{
    border: solid; 
    height: 130px; 
    width: 400px; 
    margin: auto; 
    border-radius: 10px; 
    background-color:#f2f2f2;
  }
  #box1:hover{
    cursor: pointer;
  }
  #box1 p{
    background-color: #f2f2f2;
  }