body {
    background-color: #fff;
    padding: 0;
    margin: 0;
}

.main {
    display: flex;
    flex-direction: column;
    width: 100%;
}

/* .sidebar {
    background-color: #CEDEBD;
    width: 300px;
}

.sidebar ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar > ul {
    margin: 20px 20px;
}

.sidebar ul > li {
    font-size: 24px;
    font-weight: bold;
    color: #435334;
    padding: 10px;
}

.sidebar ul > li > ul {
    padding-left: 20px;
}

.sidebar ul > li > ul > li {
    font-size: 20px;
    font-weight: normal;
    color: #567845;
    padding: 5px 10px;
} */



.contents {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.contents > div {
    position: relative;
}

/* .banner {
    width: 80%;
    margin: 50px auto;
    height: 300px;
    overflow: hidden;
    border: 1px solid black;
}

.banner img {
    position: absolute;
    width: 100%;
    height: auto;
    opacity: 0;
    animation: slideShow 9s infinite;
}

@keyframes slideShow {
    0% {opacity: 0;}
    5% {opacity: 1;}
    33% {opacity: 1;}
    38% {opacity: 0;}
    100% {opacity: 0;}
}

.banner img:nth-child(1) {
    animation-delay: 0s;
}

.banner img:nth-child(2) {
    animation-delay: 3s;
}

.banner img:nth-child(3) {
    animation-delay: 6s;
} */

.feature {
    height: auto;
    width: 60vw;
    margin: 50px auto;
    justify-content: space-between;
    display: flex;
    text-align: center;
}

.feature > div {
    width: 22vw;
    background-color: #f8f8f8;
    border-radius: 20px;
    padding: 20px 50px;
}

.feature > div > a {
    width: 15vw;
    height: 21vw;
    margin-left: 3.5vw;
    margin-bottom: 1vw;
    background-color: white;
    border: 1px solid #aaaaaa;
    border-radius: 25px;
    transition: scale 0.2s;
    display: flex;
    flex-direction: column;
    color: black;
    text-decoration: unset;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    text-align: center;
}

.today {
    height: auto;
    width: 60%;
    margin: 50px auto;
    background-color: #f8f8f8;
    border-radius: 10px;
    padding: 20px 50px;
}

.today > h1 {
    font-size: 48px;
    font-weight: bold;
}

.today iframe {
    border-style: none;
}
