/* styles.css */
body {
    font-family: 'Arial', sans-serif;
    background-color: #FAF1E4; /* 부드러운 베이지 */
    color: #435334; /* 진한 녹색 */
    margin: 0;
    padding: 0;
}

.slider {
    position: relative;
    margin-top: 50px;
    width: 100%;
    height: 200px; /* Adjust based on your images' aspect ratio */
    overflow: hidden;
}

.slider img {
    position: absolute;
    margin-left: 25%;
    width: 50%;
    height: auto;
    opacity: 0;
    animation: slideShow 9s infinite;
}

@keyframes slideShow {
    0% { opacity: 0; }
    5% { opacity: 1; }
    33% { opacity: 1; }
    38% { opacity: 0; }
    100% { opacity: 0; }
}

.slider img:nth-child(1) {
    animation-delay: 0s;
}

.slider img:nth-child(2) {
    animation-delay: 3s;
}

.slider img:nth-child(3) {
    animation-delay: 6s;
}

header {
    background-color: #CEDEBD; /* 연한 녹색 */
    color: #435334; /* 진한 녹색 */
    padding: 20px 10px;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: #9EB384; /* 중간 녹색 */
    text-decoration: none;
    font-weight: bold;
}

section#main-content {
    padding: 20px;
    text-align: center;
}

footer {
    background-color: #CEDEBD; /* 연한 녹색 */
    color: #435334; /* 진한 녹색 */
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
